<div class="container">
  <h1 class="mat-elevation-z8">EBR Smart</h1>

  <mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="">
          <i class="material-icons">home</i>
          Home
        </a>
        <a mat-list-item routerLink="livros">
          <i class="material-icons">library_books</i>
          Gerenciar Livros
        </a>
        <a mat-list-item routerLink="emprestimo">
          <i class="material-icons">transfer_within_a_station</i>
          Emprestimos
        </a>
        <a mat-list-item routerLink="matricular">
          <i class="material-icons">person_add</i>
          Matricular Aluno
        </a>
      </mat-nav-list>
    </mat-drawer>

    <button
      class="menu mat-elevation-z8"
      (click)="drawer.toggle()"
      mat-icon-button
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div class="sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>
