<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="">
        <i class="material-icons">home</i>
        Home
      </a>
      <a mat-list-item routerLink="livros">
        <i class="material-icons">library_books</i>
        Listar Livros
      </a>
      <a mat-list-item routerLink="cadastrar">
        <i class="material-icons">add</i>
        Cadastrar Livros
      </a>
      <a mat-list-item routerLink="emprestimo">
        <i class="material-icons">transfer_within_a_station</i>
        Emprestimos
      </a>
      <a mat-list-item routerLink="matricular">
        <i class="material-icons">person_add</i>
        Matricular Aluno
      </a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <button
      class="menu mat-elevation-z8"
      (click)="drawer.toggle()"
      mat-icon-button
    >
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
